<%- include('./partials/header', {account_needed : true, account : account[0] }) %>

    <body onload="wiiuBrowser.lockUserOperation(false); endLoading();">
        <%- include('./partials/sidebar.ejs', { homePage : false, miiURL : `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png`, page : "community" }) %>

            <div class="postUI" style="display: none;" id="postUI">
                <div class="postUI_bg"></div>
                <div class="postUI_container">
                    <div>
                        <img src="<%= `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png` %>"
                            class="postUI_mii" width="100px">
                        <div class="postUI_name_wrapper">
                            <span class="postUI_name">
                                <%= account[0].name %>
                            </span>
                            <div>
                                <img src='../../../../img/icons/<%= community.community_id %>.jpg'
                                    class="postUI_community_icon" width="55px">
                                <span class="postUI_community">
                                    <%= community.name %>
                                </span>
                            </div>
                        </div>
                        <div class="postUI_actions">
                            <div class="postUI_textdraw">
                                <a class="postUI_text" href="javascript:void(0)" onclick="postUI_text()">
                                    T
                                </a>
                                <a class="postUI_draw" href="javascript:void(0)" onclick="postUI_img()">
                                    J
                                </a>
                            </div>
                            <textarea id="postUI_input" class="postUI_input" placeholder="Please input post text."
                                maxlength="100"></textarea>
                            <img id="postUI_drawing"
                                style=" display:none; vertical-align: middle; position: relative; right: 5px;"
                                width="374px" height="174px">

                            <img id="postUI_screenshot" width="250px" height="150"
                                style="display: inline; vertical-align: middle;">
                            <button onclick="getScreenshot()">Upload TV Screenshot</button>
                        </div>
                    </div>
                </div>

                <div class="postUI_button_wrapper">
                    <button class="postUI_button" onclick="postUIToggle()">Cancel</button>
                    <button class="postUI_button" onclick="submitPost(<%= community.community_id %>)"
                        style="left: 70%;">Post</button>
                </div>

            </div>

            <a class="community_post_button" href="javascript:void(0)" onclick="postUIToggle()"><img
                    class="community_post_button" src="../../../../../img/post.png" width="225px"></a>

            <content>
                <%- include('./partials/titleHeader.ejs', { title : community.name, community : community, favorited : favorited }) %>
                    <img class="titleBanner" src='../../../../img/banners/<%= community.community_id %>.jpg' width="1280px">

                    <div class="postsWrapper">
                        <ul id="posts_container" style="position: relative;">
                            <% for (let i in posts) {%>
                                <li>
                                    <%- include('./partials/post.ejs', { post : posts[i], href_needed: true, moment : moment }) %>              
                                </li>
                            <%};%>
                            <% if (posts.length >= 10) {%>
                                <button id="more_posts_button" onclick="load_more_posts(<%= community.community_id %>)" class="more_posts">Load More Posts</button>
                            <%} %>
                        </ul>
                    </div>
            </content>
    </body>