<%- include('./partials/header.ejs', {
    account_needed : true,
    account : account
})%>

<body onload="endLoading();wiiuBrowser.lockUserOperation(false);">
        <%- include('./partials/sidebar.ejs', {
            homePage : true,
            miiURL : `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png`,
            page : "communities"
        }) %>
        <content>
            
            <img id="screenshotViewer" style="z-index: 10;">

            <div class="announcement_banner">
                <span class="announcement_text"><%= current_announcement %></span>

                <select id="community_sort_select" onchange="sort_communities();" class="community_sort_by" style="left: 1080px;">
                    <option value="default">Sort By..</option>
                    <option value="Popular">Popular</option>
                    <option value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>
                </select>
            </div>

            <div style="margin-top: 100px; display: none;">
                <input keyboard="nnid" invalidchar="downloadcode" capslock="true" maxlength="16" minlength="16" separate="0x00000888">
                <button style="margin: 0;" onclick="wiiuSound.playSoundByName('SE_OLV_INVALID', 1)">Test</button>
                <button style="margin: 0;" onclick="wiiuSound.playSoundByName('SE_SF_TOUCH_ON', 1)">Test1</button>
                <button style="margin: 0;" onclick="wiiuSound.playSoundByName('SE_SF_VW_TVNOMI', 1)">Test2</button>
                <button style="margin: 0;" onclick="wiiuSound.playSoundByName('SE_OLV_CURTAIN_SWAP_1', 1)">Test3</button>
                <button style="margin: 0;" onclick="wiiuSound.playSoundByName('SE_WAVE_OK', 1)">Test4</button>
                <button style="margin: 0;" onclick="wiiuSound.playSoundByName('SE_WAVE_BALLOON_CLOSE', 1)">Test5</button>
                <button style="margin: 0;" onclick="wiiuSound.playSoundByName('SE_BAR_WAITING', 1)">Test6</button>
            </div>
            
            
            <table style="border: none; position: relative; bottom: 15px;">
                <% for (let i = 0; i < communities.length; i++) {%>
                    <td class="community" style="color: black; padding-top: 15px; padding-bottom: 15px; width: 1025px;" >
                        <a onclick="wiiuSound.playSoundByName('SE_WAVE_MENU', 1);" href="<%= communities[i].community_id %>" style="display: block; text-decoration: none; margin-right: 25px; width: 900px; display: inline-block;">
                            <img style="display: inline-block; margin-left: 25px; vertical-align: middle; border-radius: 15px;" src="../../../img/icons/<%=communities[i].community_id%>.jpg" width="115px"></img>
                            <div style="display: inline-block; position: relative; left: 10px; vertical-align: middle;">
                                <span style="display: inline-block; width: 350px; text-decoration: none; font-size: 26px; color: black; font-weight: 900;  position: relative; text-overflow: clip;"><%= communities[i].name %></span>

                                <% switch (communities[i].type) {
                                    case 'wiiu':%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #0099C9; font-size: 14px; color: white; font-weight: 900;">WiiU</span> Wii U Games</span>
                                        <%break;
                                    case '3ds':%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #D3000F; font-size: 14px; color: white; font-weight: 900;">3DS</span> 3DS Games</span>
                                        <%break;
                                        case 'wii':%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #cacaca; font-size: 14px; color: rgb(255, 255, 255); font-weight: 900;">Wii</span> Wii Games</span>
                                        <%break;
                                        case 'vc':%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #525252; font-size: 14px; color: rgb(255, 255, 255); font-weight: 900;">VC</span> Virtual Console Games</span>
                                        <%break;
                                    default:%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #777777; font-size: 14px; color: white; font-weight: 900;">Topic</span> General Topic</span>
                                    <%break;
                                }%>
                            </div>     
                        </a>

                        <% if (JSON.parse(account[0].favorited_communities).includes(Number(communities[i].community_id))) {%>
                            <button id="favorite_button_<%=communities[i].community_id%>" onclick="favorite_community(<%= communities[i].community_id %>)" class="favorite_community_list" style="color: #F7A642">s</button>
                        <%} else {%>
                            <button id="favorite_button_<%=communities[i].community_id%>" onclick="favorite_community(<%= communities[i].community_id %>)" class="favorite_community_list" style="color: grey">s</button>
                        <%}%>
                        
                    </td>
                    
                   <tr></tr>
                <%}%>
            </table>
        </content>
</body>