<%- include('./partials/header.ejs', {
    account_needed : true,
    account : account[0]
})%>

<body onload="endLoading();wiiuBrowser.lockUserOperation(false);">
        <%- include('./partials/sidebar.ejs', {
            homePage : true,
            miiURL : `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png`,
            page : "communities"
        }) %>
        <content>

            <a class="all_communities">All Communities</a>

            <div class="announcement_banner">
                <span class="announcement_text"><%= language.ui.communities %></span>
            </div>

            <div class="new_communities" style="margin-top: 95px;"><%= language.ui.popular_communities %></div>
            
            <table class="communities" style="border: none; position: relative; bottom: 15px;">
                <% for (let i = 0; i < communities.length; i++) {%>
                    <td class="community" style="color: black; padding-top: 15px; padding-bottom: 15px; width: 350px;" >
                        <a style="display: block; text-decoration: none; width: 535px; display: inline-block;" href="../communities/<%=communities[i].community_id%>">
                            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.4); display: inline-block; margin-left: 25px; vertical-align: middle; border-radius: 15px; border-bottom: #818181 2px solid;" src="../../../img/icons/<%=communities[i].community_id%>.jpg" width="100px"></img>
                            <div style="display: inline-block; position: relative; left: 10px; vertical-align: middle;">
                                <span style="display: inline-block; width: 350px; text-decoration: none; font-size: 24px; color: black; font-weight: 900;  position: relative; text-overflow: clip;"><%= communities[i].name %></span>

                                <% switch (communities[i].type) {
                                    case 'wiiu':%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #0099C9; font-size: 14px; color: white; font-weight: 900;">WiiU</span> Wii U Games</span>
                                        <%break;
                                    case '3ds':%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #D3000F; font-size: 14px; color: white; font-weight: 900;">3DS</span> 3DS Games</span>
                                        <%break;
                                        case 'wii':%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #cacaca; font-size: 14px; color: rgb(255, 255, 255); font-weight: 900;">Wii</span> Wii Games</span>
                                        <%break;
                                        case 'vc':%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #525252; font-size: 14px; color: rgb(255, 255, 255); font-weight: 900;">VC</span> Virtual Console Games</span>
                                        <%break;
                                    default:%>
                                    <span style="display: block; color: grey;"><span style="display: inline-block; border-radius: 50px; width: 60px; height: 16px; padding: 5px; text-align: center; background-color: #777777; font-size: 14px; color: white; font-weight: 900;">Topic</span> General Topic</span>
                                    <%break;
                                }%>
                            </div>     
                        </a>
                    </td>
                    
                    <% if (i % 2) {%>
                        <tr></tr>
                    <%} %>
                   
                <%}%>
            </table>
        </content>
</body>