<%- include('./partials/header', {account_needed : true, account : account[0] }) %>
    <%- include('./partials/sidebar.ejs', { homePage : false, miiURL :
        `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png`, page : 'post' }) %>

        <body onload="endLoading();">
            <content>

                <div class="announcement_banner">
                    <span class="announcement_text"><%= post.screen_name %>'s <%= language.ui.post %></span>
                </div>

                <div class="postsWrapper" style="margin-top: 50px;">
                    <ul id="posts_container">
                        <li>
                            <%- include('./partials/post.ejs', { post : post, href_needed: false, moment : moment }) %>
                        </li>
                    </ul>
                </div>
            </content>
        </body>