<%- include('./partials/header.ejs', {account_needed : true, account : account[0]}) %>

    <body onload="endLoading();">

        <%- include('./partials/sidebar.ejs', { homePage : false, miiURL :
            `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png`, page : 'user' }) %>
            <content>

                <div class="announcement_banner" style="z-index: 3;">
                    <span class="announcement_text"><% if (user.pid === account[0].pid) {%> <%=language.ui.your%> <%} else {%><%= user.name %>'s<%} %> <%= language.ui.profile %></span>
                </div>

                <div class="user_header">
                    <div style="width: 1280px; height: 220px; background-color: white; margin: 0; background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgb(247, 247, 247) 100%); border-bottom: rgb(199, 199, 199) solid 2px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);"></div>
                    <div class="user_info">
                        <img src="http://mii-images.account.nintendo.net/<%=user.hash%>_normal_face.png" class="user_mii" width="90px">

                        <div class="user_meta">
                            <span class="user_name"><%= user.name %></span> <br>
                            <span class="user_nnid"><%= user.nnid %></span>
                        </div>

                        <% if (user.pid === account[0].pid) {%>
                            <button class="profile_settings"><span class="symbols">J</span><span style="display: inline-block; vertical-align: middle; margin-left: 5px;"><%= language.ui.profile_settings %></span></button>
                        <%} %>
                        

                        <table class="user_stats_table" style="margin: 0; margin-top: 15px; width: 1050px; font-size: 18px;">
                            <tr>
                                <td>
                                    <span class="user_stat"><%= language.ui.country %></span> United States
                                </td>

                                <td>
                                    <span class="user_stat"><%= language.ui.posts %></span> <%= posts.length %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="user_stat"><%= language.ui.yeahs %></span> <%= yeahs.length %>
                                </td>

                                <td>
                                    <span class="user_stat"><%= language.ui.game_experience %></span> Beginner
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="postsWrapper" style="position: relative; bottom: 120px;">
                    <ul id="posts_container" style="position: relative;">
                        <% for (let i in posts) {%>
                            <li>
                                <%- include('./partials/post.ejs', { post : posts[i], href_needed: true, moment : moment }) %>              
                            </li>
                        <%};%>
                    </ul>
                </div>
            </content>

    </body>