
<div class="post_author">
    <img src="<%= post.mii_face_url %>" width="96px" height="96px">
    <span class="screen_name"><%= post.screen_name %></span>
    
</div>

<span class="from_now"><%= moment(post.created_at).fromNow() %> <%if(post.is_autopost) {%> Auto-post <%}%></span>

<div class="post">
    <img src="../../../../img/icons/<%= community.community_id %>.jpg" width="70px" onload="init_post(<%= post.id %>)">
    <% if (post.topic_tag) {%>
        <span class="topic_tag"><span class="topic_tag_symbol">t</span> <%= post.topic_tag %></span>
        <br>
    <%}%>
    <div class="body_wrapper">

        <% if (post.screenshot) {%>
            <img class="screenshot" src="data:image/png;base64,<%= post.screenshot %>" width="750px" height="421px">
        <%} %>

        <% if (post.body) { %>
            <span class="body"><%= post.body %></span>  
        <%} else { %>
            <img class="painting" src="data:image/png;base64,<%=post.painting_png%>" <%if (post.screenshot) {%> style="margin-top: 15px;" width='750px' <%} else {%> width='600px' <%}%>>
        <%} %>
        
    </div>

    <div class="bottom_row" id="<%= post.id %>_bottom_row">
        <span class="empathy_count">
            <span class="empathy_symbol">e</span>
            <span id="<%= post.id %>_empathy_count"> <%= post.empathy_count %></span>
        </span>

        <% if (JSON.parse(yeahed).includes(post.id)) {%>
            <a class="yeah" id="<%= post.id %>" style="color: #58a7db;" href="javascript:void(0)" onclick="UnYeah( <%= post.id %> )">
                <span id="<%= post.id %>_symbol" class="yeah_symbol">E</span>
                <span id="<%= post.id %>_text">Unyeah</span>
            </a>
        <%} else { %>
            <a class="yeah" id="<%= post.id %>" href="javascript:void(0)" onclick="Yeah(<%= post.id %>)">
                <span id="<%= post.id %>_symbol" class="yeah_symbol">E</span>
                <span id="<%= post.id %>_text">Yeah</span>
            </a>
        <% } %>
    </div>
</div>