<%- include('../partials/header.ejs') %>

<body>
    <%- include('../partials/sidebar.ejs', {
        homePage : false
    }) %>
    <content>

        <div class="titleHeader">
            <div class="titleName"><%= community.name %></div>
        </div>
        <img class="titleBanner" src='../../../../img/banners/<%= community.community_id %>.jpg' width="87.1%">
        <div class="titleData">
            <img class="titleIcon" src="../../../../img/icons/<%= community.community_id %>.jpg" width="100px">
            <div class="titleMetaWrapper">
                <span class="titleMetaName"><%= community.name %> Community</span> <br>
                <span class="titleMetaDescription"><%= community.description %></span>
            </div>
        </div>

        <div class="postsWrapper">
            <ul>
                <% posts.forEach(element => {%>
                    <li>
                        <img src="<%= element.mii_face_url %>">
                        <div class="post">
                            <img src="../../../../img/icons/<%= community.community_id %>.jpg" width="100px">
                            <span><%= element.body %></span>
                        </div>
                    </li>
                <%}); %>
                
            </ul>

            
            
        </div>
    </content>
</body>

<script>wiiuBrowser.endStartUp();</script>