<%- include('../partials/header.ejs') %>

<body>

    <main>
        <%- include('../partials/sidebar.ejs', {
            homePage : false
        }) %>
        <content>

            <communityHeaderWrapper>
                <img src="<%= community.icon %>" width="100px" height="100px"> 

                <communityMetaData>
                    <h1><%= community.name %></h1>
                    <h2><%= community.description %></h2>
                </communityMetaData>
            </communityHeaderWrapper>

            <communityPostsWrapper>
                <% posts.post.forEach(post => {%>
                    <post>
                        <img src="<%= post.mii_face_url %>" width="75px" height="75px">
            
                        <postContent>
                                <img id="postIcon" width="45" height="45" src="<%= community.icon %>">
                                <span id="postBody"><%= post.body %></span>
                        </postContent>
                    </post>
                <%});%>
            </communityPostsWrapper>

            
        </content>
    </main>

   
</body>