<%- include('../partials/header.ejs') %>

<body>
    <%- include('../partials/sidebar.ejs', {
        homePage : false,
        miiURL : `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png`
    }) %>

<a href="/titles/post/<%= community.community_id %>" class="community_post_button"><img href="/titles/post<%= community.community_id %>" class="community_post_button" src="../../../../../img/post.png" width="225px"></a>

    <content>
        <%- include('../partials/titleHeader.ejs', { title : community.name }) %>
        <img class="titleBanner" src='../../../../img/banners/<%= community.community_id %>.jpg' width="87.1%">
        <div class="titleData">
            <img class="titleIcon" src="../../../../img/icons/<%= community.community_id %>.jpg" width="100px">
            <div class="titleMetaWrapper">
                <span class="titleMetaName"><%= community.name %> Community</span> <br>
                <span class="titleMetaDescription"><%= community.description %></span>
            </div>
        </div>

        <div class="postsWrapper">
            <ul>
                <%for (let i in posts) {%>
                    <li>
                        <%- include('../partials/post.ejs', { post : posts[i], community : community}) %>
                    </li>
                <%}; %>        
            </ul>
        </div>
    </content>
</body>

<script>wiiuBrowser.endStartUp();</script>