<%- include('../partials/header.ejs') %>

<body>
    <%- include('../partials/sidebar.ejs', {
        homePage : false,
        miiURL : `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png`
    }) %>

<a href="/titles/post/<%= community.community_id %>" class="community_post_button"><img href="/titles/post<%= community.community_id %>" class="community_post_button" src="../../../../../img/post.png" width="225px"></a>

    <content>

        <% %>

        <%- include('../partials/titleHeader.ejs', { title : community.name, community : community }) %>
        <img class="titleBanner" src='../../../../img/banners/<%= community.community_id %>.jpg'>

        <div class="postsWrapper">
            <ul>
                <%for (let i in posts) {%>
                    <li>
                        <%- include('../partials/post.ejs', { post : posts[i], community : community, yeahed : account[0].yeahed_posts, moment : moment }) %>
                    </li>
                <%}; %>        
            </ul>
        </div>
    </content>
</body onload="wiiuBrowser.endStartUp();">