<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/portal-grp.css">
</head>

<style>
    div, table, th, td {
        border-width: 2px;
        border: 2px solid black;
        border-color: black;
    }

    div {
        margin: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 854px;
        height: 480px;
    }

    table {
        margin: auto;
        position: relative;
        width: 50%;
    }
</style>

<body>
    <h1>Hello Valued Customer: <%= account[0].nnid %></h1>
    <a href="http://192.168.1.49:80/pages/post">Post?</a>

    <table>
        <tr>
            <th>Mii</th>
            <th>Post ID</th>
            <th>User</th>
            <th>Content</th>
        </tr>

        <% posts.forEach(element => { %>
            <tr>
                <td><img width="64px" height="64px" src="<%= element.miiUrl %>"></td>ß
                <td><%= element.id %></td>
                <td><%= element.nnid %></td>
                <td><%= element.elements.body %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>