<%- include('../partials/header.ejs')%>


<script>

    function getScreenshot() {
        var ssview = document.getElementById('screenshotViewer')

        ssview.src = "data:image/png;base64," + wiiuMainApplication.getScreenShot(false)
    }

</script>


<body onload="endLoading()">
        <%- include('../partials/sidebar.ejs', {
            homePage : true,
            miiURL : `http://mii-images.account.nintendo.net/${account[0].hash}_normal_face.png`,
        }) %>
        <content>
            
            <img id="screenshotViewer" style="z-index: 10;">
            <button onclick="getScreenshot()">Get Screenshot</button>

            <table>
                <tr>
                    <th>OLV_ID</th>
                    <th>Community_Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Icon</th>
                    <th>Posts</th>
                </tr>
                    <% communities.forEach(community => { %>
                    <tr>
                        <td><%= community.olive_community_id %></td>
                        <td><%= community.community_id %></td>
                        <td><%= community.name %></td>
                        <td><%= community.description %></td>
                        <td><img src="../../../../../../img/icons/<%= String(community.community_id)%>.jpg" width="80" height="80"></td>
                        <td><a href="../../titles/<%= community.community_id %>">Posts</a></td>
                    </tr>
                <%}); %>
            </table>    
        </content>
</body>