<%- include('../partials/header.ejs') %>

<body>

    <main>
        <%- include('../partials/sidebar.ejs', {
            homePage : true
        }) %>
        <content>
            <table>
                <tr>
                    <th>OLV_ID</th>
                    <th>Community_Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Icon</th>
                    <th>Posts</th>
                </tr>
                <% 
                
                if (data.community.length < 1) {
                    data.community.forEach(community => {%>
                    <tr>
                        <td><%= community.olive_community_id %></td>
                        <td><%= community.community_id %></td>
                        <td><%= community.name %></td>
                        <td><%= community.description %></td>
                        <td><img src="<%= community.icon %>" width="80" height="80"></td>
                        <td><a href="./pages/community/<%= community.community_id %>">Posts</a></td>
                    </tr>
                <%});
                }else {%>
                    <tr>
                        <td><%= data.community.olive_community_id %></td>
                        <td><%= data.community.community_id %></td>
                        <td><%= data.community.name %></td>
                        <td><%= data.community.description %></td>
                        <td><img src="<%= data.community.icon %>" width="80" height="80"></td>
                        <td><a href="./pages/community/<%= data.community.community_id %>">Posts</a></td>
                    </tr>
                <% } %>
            </table>    
        </content>
    </main>
</body>