<%- include('../partials/header.ejs') %>

<%- include('../partials/sidebar.ejs', {
    homePage : false
}) %>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <% if (postsFound) {%>
        <table>
            <tr>
                <th>ID</th>
                <th>PID</th>
                <th>Is Spoiler?</th>
                <th>Screen Name</th>
                <th>Body</th>
        
            </tr>
        
            <% data.post.forEach(post => {%>
                <tr>
                    <td><%= post.id %></td>
                    <td><%= post.pid %></td>
                    <td><%= post.is_spoiler %></th>
                    <td><%= post.screen_name %></th>
                    <td><%= post.body %></td>
                </tr>
            <%}); %>
        </table>
    <% } else {%>
    <h1>No posts found..</h1>
    <%} %>    
</body>